<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healthcarepatient">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RecordForActivity"></activity>
        <activity android:name=".UploadRecordActivity" />
        <activity android:name=".EHRActivity" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".DoctorsActivity" />
        <activity android:name=".MedicinesActivity" />
        <activity android:name=".PillsReminderActivity" />
        <activity android:name=".AppointmentDetails" />
        <activity android:name=".PatientDetails" />
        <activity android:name=".BookAppointmentActivity" />
        <activity android:name=".TimeSlotActivity" />
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProfileActivity" />
        <activity android:name=".VerifyOtpActivity" />
        <activity android:name=".CountryActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".StartActivity" />
        <activity android:name=".PrivacyPolicyActivity" />
        <activity android:name=".TermsAndServicesActivity" />
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>